<p><strong>Nombre:</strong>
<%= @recipe.nombre %>
</p>
<p><strong>Apellidos:</strong>
<%= @recipe.apellidos %>
</p>
<p><strong>Telefono:</strong>
<%= @recipe.telefono %>
</p>
<p><strong>Codigo Postal:</strong>
<%= @recipe.cpostal %>
</p>
<p><strong>Direccion:</strong>
<%= @recipe.direccion %>
</p>
<p><strong>Dni:</strong>
<%= @recipe.dni %>
</p>
<p><strong>Pais:</strong>
<%= @recipe.pais %>
</p>
<p><strong>Email:</strong>
<%= @recipe.email %>
</p>
<%= link_to 'Edit', edit_account_path(@recipe.id) %>
<%= link_to 'Back', accounts_path %>