<section class="offset-md-2 col-md-8 col-xs-12 custom-form">
  <div class="d-flex justify-content-center mt-5 content">
    <div class="col-md-10 col-xs-12 py-4">

      <div class="row">
        <div class="col-12 text-center">
          <h1 class="mb-2">Editar cuenta</h1>
          <hr class="teal accent-3 mb-4 mt-0 mx-auto border-dark" style="width: 200px;">
        </div>

        <div class="col-12 text-center">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= link_to 'Eliminar cuenta',accounts_url, method: :delete,data: { confirm: 'Estás seguro?' }, class:"btn btn-danger text-white"  %>
            <div class="row">

              <!-- Bloque izquierda -->
              <div class="col-md-6 col-xs-12">
                <!-- Box Nombre -->
                <div class="form-group">
                  <%= f.label :nombre %><br />
                  <%= f.text_field :nombre, autofocus: true, autocomplete: "nombre" %>
                </div>
                <!-- Box Nombre -->

                <!-- Box Dni -->
                <div class="form-group">
                  <%= f.label :dni, "DNI" %><br />
                  <%= f.number_field :dni, autofocus: true, autocomplete: "dni" %>
                </div>
                <!-- Box Dni -->

                <!-- Box Direccion -->
                <div class="form-group">
                  <%= f.label :direccion, "Dirección" %><br />
                  <%= f.text_field :direccion, autofocus: true, autocomplete: "direccion" %>
                </div>
                <!-- Box Direccion -->

                <!-- Box Telefono -->
                <div class="form-group">
                  <%= f.label :telefono, "Teléfono" %><br />
                  <%= f.number_field :telefono, autofocus: true, autocomplete: "telefono" %>
                </div>
                <!-- Box Telefono -->

                <!-- Box Contraseña nueva -->
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="field">
                  <%= f.label :password, "Nueva contraseña" %><br />
                  <%= f.password_field :password, autocomplete: "new-password", placeholder: "Opcional" %>
                  <% if @minimum_password_length %>
                    <br />
                    <em><%= @minimum_password_length %> caracteres mínimo</em>
                  <% end %>
                </div>
                <!-- Box Contraseña nueva -->

                <!-- Box Contraseña -->
                <div class="form-group">
                  <%= f.label :current_password, "Contraseña actual" %><br />
                  <%= f.password_field :current_password, autocomplete: "current-password" %>
                </div>
              </div>
              <!-- Box Contraseña -->

              <!-- Bloque izquierda -->

              <!-- Bloque derecha -->
              <div class="col-md-6 col-xs-12">

                <!-- Box Apellidos -->
                <div class="form-group">
                  <%= f.label :apellidos %><br />
                  <%= f.text_field :apellidos, autofocus: true, autocomplete: "apellidos" %>
                </div>
                <!-- Box Apellidos -->

                <!-- Box Pais -->
                <div class="form-group">
                  <%= f.label :pais, "País" %><br />
                  <%= f.text_field :pais, autofocus: true, autocomplete: "pais" %>
                </div>
                <!-- Box Pais -->

                <!-- Box Codigo postal -->
                <div class="form-group">
                  <%= f.label :cpostal, "Código postal" %><br />
                  <%= f.text_field :cpostal, autofocus: true, autocomplete: "cpostal" %>
                </div>
                <!-- Box Codigo postal -->

                <!-- Box Correo -->
                <div class="form-group">
                  <%= f.label :email, "Correo electrónico" %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>
                <!-- Box Correo -->

                <!-- Box Confirmar contraseña -->
                <div class="form-group">
                  <%= f.label :password_confirmation, "Confirmar contraseña" %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                </div>
                <!-- Box Confirmar contraseña -->

              </div>

            </div>
            <div class="actions">
              <%= f.submit "Guardar", class: "btn btn-dark" %>
              <%= link_to "Cancelar", :back, class: "btn btn-info" %>
            </div>
          <% end %>
          <!-- Bloque Derecha -->
        </div>

      </div>
    </div>
  </div>
</section>