<section class="offset-md-2 col-md-8 col-xs-12 custom-form">
  <div class="d-flex justify-content-center mt-5 content">
    <div class="col-md-10 col-xs-12 py-4">
      <div class="row">
        <div class="col-12 text-center">
          <h2>Formulario de reclamación</h2>
          <hr class="teal accent-3 mb-4 mt-0 mx-auto border-dark" style="width: 200px;">
          <%= form_with(model: claim) do |form| %>
            <% if claim.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(claim.errors.count, "error") %> prohibited this claim from being saved:</h2>

                <ul>
                  <% claim.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group text-left">
              <%= form.label :description %>
              <%= form.text_area :description, class:"form-control", rows: 3%>
            </div>

            <div class="field">
              <%#= f.hidden_field :product_id, value: item.product.id %>
              <%= form.hidden_field :account_id, value: current_account.id %>
            </div>

            <div class="actions text-right">
              <%= link_to 'Volver', claims_path, class:"btn btn-dark text-white" %>
              <%= link_to "Enviar", form.submit, class:"btn btn-warning" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
