<p id="notice"><%= notice %></p>

<h1>Historial de compra</h1>

<table>
  <thead>
    <tr>
      <th>Tarjeta</th>
      <th>Domicilio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td><%= history.tarjeta %></td>
        <td><%= history.domicilio %></td>
        <td><%= link_to 'Ver', history %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Volver al catálogo",order_items_deleteAll_path,method: :delete,class: "btn btn-success mt-2 text-white"%> 
