<section class="offset-md-1 col-md-10 col-xs-12">
  <div class="my-5 content py-3 ">
    <div class="w-100 text-center">
      <h1>Historial de compra</h1>
      <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-dark" style="width: 200px;">
    </div>
    <div class="table-responsive">
      <table class="table table-striped">

        <thead>
        <tr>
          <th class="text-center">Nºtarjeta</th>
          <th class="text-center">Domicilio</th>
          <th class="text-center">Reclamaciones</th>
          <th class="text-center" colspan="2">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <% @histories.each do |history| %>
          <tr>

            <td class="text-center align-middle">
              <%= history.tarjeta %>
            </td>

            <td class="text-center align-middle">
              <% if history.domicilio %>
                <p>Sí</p>
              <% else %>
                <p>No</p>
              <% end %>
            </td>

            <td class="text-center align-middle">
              <%= link_to 'Enviar', new_claim_path, class: "btn btn-success text-white" %>
            </td>

            <td class="text-center align-middle">
              <%= link_to 'Ver Compra', history, class: "btn btn-info text-white" %>
              <%= link_to "Ver reclamaciones", claims_path, class:"btn btn-warning text-white"  %>
            </td>

          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="text-center align-middle">
      <%= link_to "Volver al catálogo", order_items_deleteAll_path, method: :delete, class: "btn btn-dark mt-2 text-white" %>
    </div>
  </div>
</section>