<section class="offset-md-1 col-md-10 col-xs-12">
  <div class="my-5 content py-3 ">
    <div class="w-100 text-center">
      <h1>Detalles de compra</h1>
      <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-dark" style="width: 200px;">
    </div>
    <div class="table-responsive">
      <table class="table table-striped">

        <thead>
        <tr>
          <th class="text-center">Nºtarjeta</th>
          <th class="text-center">Artículo</th>
          <th class="text-center">Domicilio</th>
          <th class="text-center">Precio</th>
        </tr>
        </thead>
        <tbody>
        <% @buyedItems.each do |item| %>
          <tr>

            <td class="text-center align-middle">
              <%= @history.tarjeta %>
            </td>
            <td class="text-center align-middle">
              <%= image_tag(item.product.image, class:"img-fluid rounded ml-2", style: "width: 100px") %>
              <%= item.product.name%>
            </td>
            <td class="text-center align-middle">
              <% if @history.domicilio %>
                <p>Sí</p>
              <% else %>
                <p>No</p>
              <% end %>
            </td>
            <td class="text-center align-middle">
              <%= number_to_currency item.total, :locale => :en %>
            </td>

          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="text-center align-middle">
      <%= link_to 'Volver', histories_path, class: "btn btn-success mt-2 text-white" %>
    </div>
  </div>
</section>