<section class="offset-md-1 col-md-10 col-xs-12">
<div class="my-5 content py-3 ">
  <div class="w-100 text-center">
    <h1>Tu historial de compra</h1>
    <p id="notice"><%= notice %></p>
    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-dark" style="width: 200px;">
  </div>
    <p>
    <strong>ID de la compra:</strong>
        <%= @history.id %>
    </p>
    <p>
      <strong>Número de tarjeta:</strong>
      <%= @history.tarjeta %>
    
      <strong>Pedido a domicilio:</strong>
      <% if @history.domicilio? %>
        <input type="checkbox" checked readonly>
      <%else%>
        <input type="checkbox"  readonly/>
        <%end%>
    </p>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          
          <th class="text-center">Artículo</th>
          <th class="text-center">Precio</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @buyedItems.each do |item| %>
          <tr>
            <td class="text-center">
              <h5><%= item.product.name%></h5>
              <p><%= item.product.description%></p>
            </td>
            <td class="text-center align-middle">
              <p><%= number_to_currency item.total , :locale => :en%></p>
            </td>
          </tr>   
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-end mr-3">
    <h4>Total a pagar: <strong><%= number_to_currency current_order.subtotal, :locale => :en %></strong></h4>
  </div>
  <div class="text-center align-middle">
    <p><%= link_to 'Volver', histories_path %></p>
  </div>
  </div>
</section>