<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Nombre" %>
    <%= form.text_field :name %>
  </div>

  <div class="form-group">
    <%= form.label :price, "Precio" %>
    <%= form.text_field :price %>
  </div>

  <div class="form-group">
    <%= form.label :image, "Imagen" %>
    <%= form.file_field :image %>
  </div>

  <div class="form-group">
    <%= form.label :description, "Descripción" %>
    <%= form.text_area :description %>
  </div>

  <div class="form-group">
    <label for="brand_id">Marca</label>
    <select name="product[brand_id]" class="form-control">
      <option value="null">Seleccione marca</option>
      <% Brand.all.each do |b| %>
        <option value="<%= b.id %>" <%= @product.brand_id == b.id ? "selected" : ""%>><%= b.name%></option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <%= form.label :onsale, "Oferta" %>
    <%= form.check_box :onsale %>
  </div>

  <div class="form-group">
    <%= form.label :priceOnsale, "precio de oferta" %>
    <%= form.text_field :priceOnsale %>
  </div>


  <div class="form-group">
    <label for="category_id">Categoría</label>
    <select name="product[category_id]" class="form-control">
      <option value="null">Seleccione categoría</option>
      <% Category.all.each do |c| %>
      <option value="<%= c.id %>" <%= @product.category_id == c.id ? "selected" : ""%>><%= c.name%></option>
      <% end %>
    </select>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", class: "btn btn-dark text-white" %>
    <%= link_to 'Cancelar', products_path, class:"btn btn-warning text-white" %>
  </div>





<% end %>
