<section class="offset-md-1 col-md-10 col-xs-12">
  <div class="d-flex justify-content-center mt-5 content">
    <div class="col-sm-12 py-4">
      <div class="row">
        <div class="col-md-3 mb-3 text-center">
          <%= image_tag(@product.image, class:"img-fluid rounded") %>
        </div>
        <div class="col-md-5">
          <h3><%= @product.name %></h3>
          <h5><%= @product.description %></h5>
        </div>
        <div class="col-md-4 mt-5">
          <table class="table">
            <tbody>
            <tr>
              <th>
                Marca
              </th>
              <td>
                <%= @product.brand.name %>
              </td>
            </tr>
            <tr>
              <th>
                Categoría
              </th>
              <td>
                <%= @product.category.name %>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-3 text-center mt-3">
          <div class="alert alert-dark p-2 my-auto">
            <% if @product.onsale == true %>
             <h5> <%= number_to_currency @product.priceOnsale, :locale => :en %></h5>
            <% else %>
              <h5> <%= number_to_currency @product.price, :locale => :en %></h5>
            <% end %>
          </div>

          <%if account_signed_in? && !current_account.isAdmin %>
            <div class="mt-2">
              <%= form_for(@list_item, remote: true) do |l| %>
                <%= l.hidden_field :product_id, value: @product.id %>
                <%= l.submit "Añadir a favoritos", class: "btn btn-warning text-dark" %>
                <%= link_to 'Añadir Reseña', new_resenya_path, class:"btn btn-success text-white mt-3" %>
              <% end %>
            </div>
          <% end %>

        </div>

        <div class="col-md-4 text-center mt-3">
          <%= form_for(@order_item, remote: true) do |f| %>
            <%= f.hidden_field :product_id, value: @product.id %>
            <%= f.number_field :quantity, value: 1, min: 1%>
            <%= f.submit "Añadir al carrito", class: "btn btn-dark mt-2" %>
          <% end %>
        </div>

        <div class="col-md-4 text-center mt-3">
          <%= link_to 'Volver', root_path, class:"btn btn-info text-white" %>
        </div>
      </div>
    </div>
  </div>

  <%if account_signed_in? && !current_account.isAdmin %>
    <div class="my-5 content py-3 ">
      <div class="w-100 text-center">
        <h1>Reseñas</h1>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-dark" style="width: 200px;">
      </div>

      <div class="table-responsive">
        <table class="table table-striped">

          <thead>
          <tr>
            <th class="text-center">Usuario</th>
            <th class="text-center">Valoración</th>
            <th class="text-center">Comentario</th>
          </tr>
          </thead>

          <tbody>
          <% if @product.id == 9 %>
            <% @resenya.each do |r| %>
                <tr>
                  <td class="text-center">
                    <%= r.account.nombre %>
                    <%= r.account.apellidos %>
                  </td>
                  <td class="text-center">
                    <%= r.valoracion %>
                  </td>
                  <td class="text-center">
                    <%= r.descripcion %>
                  </td>
                </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</section>