<section class="offset-md-2 col-md-8 col-xs-12 custom-form">
  <div class="d-flex justify-content-center mt-5 content">
    <div class="col-md-10 col-xs-12 py-4">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="mb-2">Editar usuario</h1>
          <hr class="teal accent-3 mb-4 mt-0 mx-auto border-dark" style="width: 200px;">

          <%= form_with(model: @recipe, local: true) do |form| %>
            <% if @recipe.errors.any? %>
              <div id="error_explanation">
                <h2>
                  <%= pluralize(@recipe.errors.count, "error") %>
                  prohibited this article from being saved:
                </h2>
                <ul>
                  <% @recipe.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="row">

              <div class="col-md-6 col-xs-12">

                <div class="form-group">
                  <%= form.label :nombre, "Nombre" %><br>
                  <%= form.text_field :nombre %>
                </div>

                <div class="form-group">
                  <%= form.label :apellidos %><br>
                  <%= form.text_field :apellidos %>
                </div>

                <div class="form-group">
                  <%= form.label :telefono %><br>
                  <%= form.number_field :telefono %>
                </div>

                <div class="form-group">
                  <%= form.label :email %><br>
                  <%= form.text_field :email %>
                </div>

              </div>

              <div class="col-md-6 col-xs-12">

                <div class="form-group">
                  <%= form.label :cpostal %><br>
                  <%= form.number_field :cpostal %>
                </div>

                <div class="form-group">
                  <%= form.label :direccion %><br>
                  <%= form.text_field :direccion %>
                </div>

                <div class="form-group">
                  <%= form.label :dni %>
                  <br><%= form.number_field :dni %>
                </div>

                <div class="form-group">
                  <%= form.label :pais %><br>
                  <%= form.text_field :pais %>
                </div>

              </div>

            </div>

            <div class="actions">
              <%= form.submit "Guardar", class: "btn btn-dark text-white" %>
              <%= link_to 'Cancelar', accounts_path, class: "btn btn-warning text-white" %>
            </div>

          <% end %>

        </div>
      </div>
    </div>
  </div>
</section>